.card {
  --background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  width: 925px;
  height: 210px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #f7ba2b;
  background: var(--background);
  position: relative;
  z-index: 2;
}

.card::after {
  position: absolute;
  content: "";
  top: 30px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #f7ba2b;
  background: var(--background);
  transition: opacity 0.5s;
}

.card-info {
  --color: #181818;
  background: var(--color);
  color: var(--color);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: 0.7rem;
  color: #fff;
  font-family: "Nunito";
  padding: 20px;
}

/* Hover */
.card:hover::after {
  opacity: 0;
}

.card:hover .card-info {
  transition: color 1s;
} 

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px; /* Adjust the gap between cards */
}

.grid-backing {
  width: auto;
  height: auto;
  margin: 0 auto;
  background-color: rgba(75, 75, 75, 0.3);
  border-radius: 8px;
  z-index: 2;
  justify-content: center;
  padding: 20px;
  opacity: 0.9;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

.circle {
  padding: 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.tools {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
