.carousel-container {
    overflow: hidden;
  }
  
  .carousel {
    display: flex;
    gap: 0px;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 120px; /* Adjust as needed */
  }