@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  /* text-align: center; */
  background-color: #212121;
}

.App-header {
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.orbit {
  height: 200px;
  width: 880px;
/*   border: 1px solid #fff; */
  border-radius: 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  animation: spin 8s infinite linear;
  /* border: 1px solid #fff; */
}

@keyframes spin {
  100%{
    transform: rotate(360deg)
  }
}

.rocket {
  background-color: #fafcf7;
  height: 50px;
  width: 25px;
  border-radius: 50% 50% 0 0;
  position: relative;
  left: -11px;
  top: 115px;
  z-index: 1;
}

.rocket:before{
  position: absolute;
  content: "";
  background-color: #bc2927;
  height: 20px;
  width: 55px;
  z-index: -1;
  border-radius: 50% 50% 0 0;
  right: -15px;
  bottom: 0;
}
.rocket:after{
  position: absolute;
  content: "";
  background-color: #39beff;
  height: 4px;
  width: 15px;
  border-radius: 0 0  2px 2px;
  bottom: -5px;
  left: 4.3px;
}

/* Define the keyframes for the fire animation */
@keyframes fire {
  0% { opacity: 1; }
  50% { opacity: 0.5; transform: translateY(-10px); }
  100% { opacity: 0; transform: translateY(-20px); }
}

/* Apply the animation to the rocket's fire trail */
.fire {
  position: relative;
  content: "";
  background: radial-gradient(circle at center, #ff6a00, transparent);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  bottom: -120px;
  left: -8.5px;
  animation: fire 0.5s linear infinite;
}

.window {
  background-color: #151845;
  height: 13.5px;
  width: 13.5px;
  border: 2px solid #b8d2ec;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 5.5px;
}


.container{
  height: 50px;
  width: 75vw;
  /* border: 1px solid #fff; */
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 0;
}

#rocket-trail {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* Make sure the canvas does not interfere with mouse events */
}



